<nav class="flex mb-8 text-lg">
  <div class="pb-1 {{if this.isActive.details 'border-b-4 border-purple-400'}}">
    <LinkTo @route="bands.band.details">
      Details
    </LinkTo>
  </div>

  <div
    class="pb-1 ml-4 {{if this.isActive.songs 'border-b-4 border-purple-400'}}"
  >
    <LinkTo @route="bands.band.songs">
      Songs
    </LinkTo>
  </div>
</nav>